.cartItem {
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
  align-items: flex-start;
}

.cartImage {
  background-size: cover;
  background-position: center;
  width: 60px;
  min-height: 60px;
}

.cartItemInfo {
  display: flex;
  margin-right: 16px;
  margin-left: 16px;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.cartItemName {
  font-weight: 700;
}

.cartItemprice {
  margin-bottom: 25px;
}

.cartItemRemove {
  max-width: 100%;
  display: inline-block;
  color: #eb5757;
  text-decoration: underline;
  cursor: pointer;
}

.cartQuantity {
  margin-right: 5px;
  margin-bottom: 0px;
  border: 1px solid #222;
  border-radius: 5px;
  background-color: #fafafa;
  display: block;
  height: 38px;
  line-height: 20px;
  margin-bottom: 10px;
  padding: 8px 6px 8px 12px; 
  width: 60px;
  font: inherit;
}

.cartQuantity:focus {
  outline: none;
}
