/* Announcement Header styles */
.wrapper {
  background-color: #222;
  padding: 20px 0;
  font-size: 16px;
}

.container {
  display: block;
  text-decoration: none;
  color: #f9f9f9;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  flex-wrap: wrap;
}

.banner div {
  flex-shrink: 1;
}

.pill {
  display: block;
  font-size: 1rem;
  padding: 5px 20px;
  margin-right: 10px;
  border-radius: 20px;
}

/* Media queries */
@media (max-width: 480px) {
  .banner {
    flex-direction: column;
  }

  .pill {
    margin-bottom: 15px;
  }
}